services:
  pushpin:
    build:
      context: ./pushpin
      dockerfile: development/Dockerfile
    ports:
      - "7999:7999" # HTTP port
      - "5561:5561" # Control port (HTTP)
    depends_on: []
