services:
  pushpin:
    build:
      context: ./pushpin
      dockerfile: Dockerfile
    ports:
      - "7999:7999" # HTTP port
      - "5561:5561" # Control port (HTTP)
    depends_on:
      - origin-api

  origin-api:
    build:
      context: ./origin-api
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - GRIP_URL=http://pushpin:5561/

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "8080:8080" # Client dev server
    environment:
      - PUSHPIN_URL=http://pushpin:7999
    depends_on:
      - pushpin

networks:
  default:
    name: pushpin-network
